<section class="gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="mb-md-2 mt-md-2 pb-2">
                <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
                <p class="text-white-50 mb-4">Please fill up registration form!</p>
                <div class="form-outline form-white mb-4">
                  <div class="form-group mb-4">
                    <label class="form-label" for="firstName">First Name</label>
                    <input id="firstName"
                           type="text"
                           class="form-control form-control-lg"
                           formControlName="firstName"
                           [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }"/>
                    <div *ngIf="submitted && f['firstName'].errors" class="alert alert-danger alert mb-2">
                      <div *ngIf="f['firstName'].errors['required']">First name is required.</div>
                      <div *ngIf="f['firstName'].errors['minlength']">Provided first name has to be at least 3 characters long.</div>
                      <div *ngIf="f['firstName'].errors['maxlength']">Provided first name has to be at most 15 characters long.</div>
                    </div>
                  </div>
                  <div class="form-group mb-4">
                    <label class="form-label" for="lastName">Last Name</label>
                    <input id="lastName"
                           type="text"
                           class="form-control form-control-lg"
                           formControlName="lastName"
                           [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }"/>
                    <div *ngIf="submitted && f['lastName'].errors" class="alert alert-danger alert mb-2">
                      <div *ngIf="f['lastName'].errors['required']">Last name is required.</div>
                      <div *ngIf="f['lastName'].errors['minlength']">Provided last name has to be at least 2 characters long.</div>
                      <div *ngIf="f['lastName'].errors['maxlength']">Provided last name has to be at most 15 characters long.</div>
                    </div>
                  </div>
                  <div class="form-group mb-4">
                    <label class="form-label" for="email">Email</label>
                    <input id="email"
                           type="email"
                           class="form-control form-control-lg"
                           formControlName="email"
                           [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"/>
                    <div *ngIf="submitted && f['email'].errors" class="alert alert-danger alert mb-2">
                      <div *ngIf="f['email'].errors['required']">Email is required.</div>
                      <div *ngIf="f['email'].errors['email']">Provided input is not an email.</div>
                    </div>
                  </div>
                  <div class="form-group mb-4">
                    <label class="form-label" for="password">Password</label>
                    <input id="password"
                           type="password"
                           class="form-control form-control-lg"
                           formControlName="password"
                           [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
                    <div *ngIf="submitted && f['password'].errors" class="alert alert-danger alert mb-2">
                      <div *ngIf="f['password'].errors['required']">Password is required.</div>
                    </div>
                  </div>
                  <div class="form-group mb-4">
                    <label class="form-label" for="confirmPassword">Confirm Password</label>
                    <input id="confirmPassword"
                           type="password"
                           class="form-control form-control-lg"
                           formControlName="confirmPassword"
                           [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }" />
                    <div *ngIf="submitted && f['confirmPassword'].errors" class="alert alert-danger alert mb-2">
                      <div *ngIf="f['confirmPassword'].errors['required']">
                        Password confirmation is required.
                      </div>
                      <div *ngIf="f['confirmPassword'].errors['confirmPasswordValidator']">
                        Passwords are not same.
                      </div>
                    </div>
                </div>
                </div>
                <button class="btn btn-outline-light btn-lg px-5 mt-2" type="submit">Register</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
